<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息编辑</title>
    {% load staticfiles %}
    <script src="{% static 'waybill/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'waybill/js/vue.min.js' %}"></script>
    <script src="{% static 'waybill/js/bootstrap.js' %}"></script>
    <script src="{% static 'waybill/js/bootbox.js' %}"></script>
    <script src="{% static 'waybill/js/django_csrf.js' %}"></script>
    <script src="{% static 'waybill/js/wjzJS.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'waybill/css/bootstrap.css' %}"/>
</head>
<body>
<div class="container">
    <h1>用户信息编辑</h1>
    <h2>当前用户:{{ username }}</h2>
    {% if message %}
        <div class="alert alert-success" style="width: 280px">
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
    <br>
    <form action="/customer/" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="提交"/>
    </form>
</div>
</body>
</html>